
.header{
    background: #141414;
    height: 52px;
    overflow: hidden;
    min-width: 1000px;
    min-height: 52px;
    position: relative;
}


.header .title a{
    color: white;
    font-size: large;
    text-decoration: none;
    font-family: russian_empire, sans-serif;
}

.header .title a:hover{
    color: yellow;
}

.header .title{
    margin-left: 5%;
    float: left;
    margin-top: 13px;
}

.header .navigation_header{
    position: relative;
    float: right;
    margin-right: 5vw;
    margin-top: 12px;
}

.navigation_header ul{
    margin: 0;
}

.navigation_header ul li{
    display: inline;
    padding-right: 15px;
}

.navigation_header a{
    color: white;
    text-decoration: none;
    font-size: larger;
}

.navigation_header a:hover{
    color: yellow;
    text-decoration: none;
}

.music{
   position: relative;
   margin-top: 15px;
   background: url("../../img/play.png") no-repeat;
   width: 20px;
   height: 20px;
   margin-left: 3%;
   background-size: cover;
   float: left;
   cursor: pointer;
}



