.wrapper_states{
    position: relative;
    font-size: 1.6em;
    font-family: sans-serif;
    margin-left: 15vw;
    margin-right: 15vw;
}

 .navigation{
    position: relative;
    height: 72px;
    background-color: white;
    min-height: 52px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,.4);
    min-width: 1000px;
    text-align: center;
    padding: 2vh 2vw;
 }

 .navigation nav{
     padding-top: 25px;
 }

 .navigation a{
     transition: all 100ms linear;
     text-decoration: none;
     margin-right: 50px;
     font-size: 1.4em;
     color: #141414;
     border-bottom: 2px solid transparent;
 }

 .navigation a:hover{
     border-bottom: 2px solid;
 }

.wrapper_states .title{
    font-size: 3.8em;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.wrapper_states .image_text_right{
    float: right;
    margin-right: 25px;
    display: block;
}

.wrapper_states .image_text_left{
    float: left;
    margin-left: 25px;
    display: block;
}

 img{
    margin: 20px;
    width: 40vw;
    max-height: 400px;
     max-width: 600px;
}


 .wrapper_states table {
     border: 1px solid  #141414;
     border-collapse: collapse;
 }
